.header {
  z-index: -10;
  position: absolute;
}

.headercontent {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-repeat: no-repeat;
  background-position: top;
  position: fixed;
  top: 0%;
  bottom: 52%;
  width: 100%;
  height: 110%;
  background-size: 100% 50%;
}

.welcome {
  color: white;
  position: absolute;
  top: 12%;
  margin: 0px 20%;
  font-family: "poppins";
  font-size: 30px;
  font-weight: 700;
  color: #403D46;
  line-height: 1.2;
}

.headercontent button {
  width: 30%;
  margin: 0 35%;
  top: 25%;
  position: absolute;

}

.headercontent p {
  color: white;
  position: absolute;
  top: 32%;
  left: 20%;
  padding-right: 15%;
  width: 64vw;
  line-height: 1.2;
}

button {
  background-color: #498598;
  border: none;
  border-radius: 24px;
  color: white;
  font-family: "poppins";
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  padding: 2.5% 7% 2.5% 7%;
}

.content {
  display: grid;
  grid-template-rows: repeat(4, 25vh);
}

.logo {
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  margin-bottom: 10%;
}

.cross {
  height: 80%;
}

.cloud {
  z-index: -1;
  position: absolute;
  margin-top: 5%;
  margin-right: 87%;
  transform: scale(0.6);
}

.health {
  margin-top: 4%;
  margin-bottom: 10%;
}
