<!-- <div class="header">
        <img src="../../../../assets/onboarding/header.png">
        
    </div>  -->
<div class="headercontent" id="headercontent">
    <span class="welcome">Welkom bij Health-Thing</span >

    <button (click)="nextpage()">START</button>

    <p>
        Met het dagelijks invoeren van jouw mentale gezondheid!
    </p>
</div>
<div class="content">
  
    <div class="logo">
        <img class="cloud" src="../../../../assets/onboarding/cloud.png">

        <img class="cross" src="../../../../assets/onboarding/start_logo_big.png">
        </div>
</div>