.login{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 18px;
  width: 80vw;
  margin: auto;
  /* margin-top: 20vh; */
}

.loginForm{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10%;
}

.form-group{
  width: 60vw;
}

.mat-form-field{
  margin-top: -5%;
  width: 100%;
  font-size: 12px;
}


form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-icon{
  font-size: 20px !important;
}


.label{
  margin-right: 10%;
  width: 100%;
  font-size: 12px;
}

::ng-deep .mat-placeholder-required{
  color: white;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
  color: violet !important;
  background-color: #B8B8BB;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
  color: #DBDCE1 !important;
  /* background-color: #B8B8BB; */
}

::ng-deep .mat-form-field-ripple{
  color: black !important;
}


input {
  caret-color:#67BCD9 !important;
}

.requieredStar{
  color: #67BCD9
}

#loginBtn{
  border-radius: 18px;
  width: 90%;
  height: 6vh;
  margin: auto 15% ;
  background-color: #67BCD9;
  color: white;
  font-size: 16px ;
  font-weight: 500;
  margin-top: 5%;
  margin-bottom: 15%;
}

.register{
  display: flex;
  margin: 15% 18%;
  justify-content: space-between;
}


a{
  font-size: 14px;
  color: #67BCD9;
  text-decoration-color: #67BCD9;
}


.registerLabel{
  font-size: 14px;
  color: #707070;
}

.title{
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  /* margin: 25% 25% 0% 25%;
  padding: 0% 0% 0% 0%; */
  font-weight: 700;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 2%;
  justify-content: center;
  font-size: 22px;
}

.a{
  width: 31vw;
}

.b{
  width: 40vw;
}


.material-icons {
  font-family: 'Material Icons Outlined', 'Material Icons';
  color: #A3A6B1;
}




::ng-deep .snackbar{
  background-color: white;  
}

::ng-deep .mat-simple-snackbar{
  text-transform: capitalize;
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  color: #403D46;
}

::ng-deep .mat-snack-bar-handset .mat-snack-bar-container {
  width: auto !important;
  display: flex;
  justify-content: center;
  margin: auto auto 26% auto !important;
  border-radius: 18px !important;

}