<div class="content">
    <div class="close">
        <button class="closeButton" (click)="close()">
            <mat-icon id="closeIcon">close</mat-icon>
        </button>
    </div>
    <p>
        Om jouw maandelijkse doel te<br>
        bereiken,ga je een aantal<br>
        acties ondernemen.<br><br>
        Selecteer jouw acties!
    </p>
    <div class="bottom">
        <div class="checkbox">
            <mat-checkbox ([ngModel])="checked" (change)="onCheck()">Niet meer weergeven</mat-checkbox>
        </div>
        <div class="ok">
            <button class="okButton" (click)="ok()">OK</button>
        </div>

    </div>
</div>