.login{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.loginForm{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.form-group{
    background-color: white;
    border-radius: 18px;
    padding: 4% 5% 5% 5%;
    width: 80vw;
    height: 4vh;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10%;
}

.mat-form-field{
    margin-top: -5%;
    width: 100%;
    font-size: 12px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-icon{
    font-size: 20px !important;
}


.label{
    margin-right: 10%;
    width: 100%;
    font-size: 12px;
}

::ng-deep .mat-placeholder-required{
    color: white;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple{
    color: violet !important;
    background-color: #B8B8BB;
}


::ng-deep .mat-form-field.mat-focused .mat-form-field-label{
    color: #DBDCE1 !important;
    /* background-color: #B8B8BB; */
}

::ng-deep .mat-form-field-ripple{
    color: black !important;
}


input {
    caret-color:#67BCD9 !important;
  }

.requieredStar{
    color: #67BCD9
}

#loginBtn{
    border-radius: 18px;
    width: 70%;
    height: 7vh;
    margin: auto 15% ;
    background-color: #67BCD9;
    color: white;
    font-size: 16px ;
    font-weight: 500;
}

.register{
    display: flex;
    margin: 15% 13%;
    justify-content: space-between;
}


a{
    font-size: 14px;
    color: #67BCD9;
    text-decoration-color: #67BCD9;
}


.registerLabel{
    font-size: 14px;
    color: #707070;
}


.material-icons {
    font-family: 'Material Icons Outlined', 'Material Icons';
    color: #A3A6B1;
}


::ng-deep .snackbar{
    background-color: white;  
  }
  
  ::ng-deep .mat-simple-snackbar{
    text-transform: capitalize;
    font-family: "poppins";
    font-weight: 500;
    font-size: 16px;
    color: #403D46;
  }
  
  ::ng-deep .mat-snack-bar-handset .mat-snack-bar-container {
    width: auto !important;
    display: flex;
    justify-content: center;
    margin: auto auto 26% auto !important;
    border-radius: 18px !important;
  
  }