<app-header [title]="'Inloggen'" [hideMenu]="true"></app-header>

<div class="login">
    <div class="loginForm">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="label">
                <label for="username">Gebruikersnaam</label><span class="requieredStar"> *</span>
            </div>
            <div class="form-group">

                <mat-form-field class="full-width-input" floatLabel="never">
                    <input placeholder="Jouw gebruikersnaam" matInput type="text" class="form-control" name="username"
                        formControlName="username" required />
                    <mat-error>
                        Vul een gebruikersnaam in
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="label">
                <label for="password">Wachtwoord</label><span class="requieredStar"> *</span>
            </div>
            <div class="form-group">

                <mat-form-field class="full-width-input" floatLabel="never">

                    <div class="inputWrapper">
                        <input matInput [type]="!hide ? 'password' : 'text'" class="form-control"
                            placeholder="Wachtwoord" formControlName="password" required />
                    </div>
                    <button type="button" class="iconBtn" mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off_outline' : 'visibility_outline'}}</mat-icon>

                    </button>

                    <mat-error>
                        vul een wachtwoord in
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" id="loginBtn" mat-raised-button>Inloggen</button>
        </form>

    </div>
    <div class="register">
        <label class="registerLabel">Heb je nog geen account?</label>
        <a routerLink="/register" class="btn btn-link">Meld je aan!</a>
    </div>


</div>