<app-header [title]="'Inloggen'" [hideMenu]="true"></app-header>

<div class="login">
    <div class="loginForm">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="label">
                    <label for="username">Gebruikersnaam</label><span> *</span>
                </div>
                <mat-form-field class="full-width-input" floatLabel="never">
                    <input placeholder="Jouw gebruikersnaam" matInput type="text" class="form-control" name="username"
                        formControlName="username" required />
                    <mat-error>
                        Vul een gebruikersnaam in
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <div class="label">
                    <label for="password">Wachtwoord</label><span> *</span>
                </div>
                <mat-form-field class="full-width-input" floatLabel="never">

                    <div class="inputWrapper">

                        <input matInput [type]="!hide ? 'password' : 'text'" class="form-control" placeholder="Wachtwoord"
                            formControlName="password" required />
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </div>
                    <mat-error>
                        vul een wachtwoord in
                    </mat-error>
                </mat-form-field>
            </div>
            <button type="submit" id="loginBtn" mat-raised-button>Inloggen</button>
        </form>

    </div>
    <div class="register">
        <label class="registerLabel">Heb je nog geen account?</label>
        <a   routerLink="/register" class="btn btn-link">Meld je aan!</a>
    </div>
    

</div>