<app-header [title]="'Jouw Overzicht'" [hideMenu]="false"></app-header>

<div class="content">
    <div class="emotion">
        <a routerLink="/emotions">            Hoe voel je je op dit moment?
        </a>
        
    </div>
    <div class="history">
        <span>Historie  COMING SOON</span>
    </div>
    <div class="goals">
        <span>Doelen  COMING SOON</span>
    </div>
    <div class="actions">
        <span>Acties  COMING SOON</span>
    </div>
    <div class="gif">
        <span>GIF  COMING SOON</span>
    </div>
</div>
